.title:is(h1) {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-weight: 900;
  letter-spacing: rem(-2px);
  margin-block-start: 100px;
  font-size: rem(100px);
  text-align: center;

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(50px);
  }
}

.description:is(p) {
  margin: 0 auto;
  margin-block-start: 100px;
}
